@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; 
    border:none;
}


.heading{
    background: #d52e3f;
}

.text{
    font-size: 5rem;
    text-align: center;
    color: #fcedd8;
    padding-bottom: 1rem;
    font-family: 'Niconne', cursive;
    text-shadow: 0.3rem 0.3rem 0rem #eb452b, 
              0.6rem 0.6rem 0rem #efa032, 
              0.9rem 0.9rem 0rem #46b59b;
}


.qutpage{
    background-image: url(img/back1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 15rem;
}

.qutpage .quote{
    margin-top: 4rem;
    margin-left: 5rem;
    font-size: 1.5rem;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.qutpage .qteimg{
    position: relative;
}
 .qutpage .qteimg img{
    margin-left: 2rem;
    width:18rem;
    height:15rem;
} 


.earlylife{
    height: auto;
    background-image: url(img/back11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
}
.earlylifehead{
    display: flex;
}

.line{
    width: 50%;
    height: 0.2rem;
    background-color: #d52e3f;
    margin: 1rem 2rem 0 0rem;

}
.line1{
    width: 50%;
    height: 0.2rem;
    background-color: #d52e3f;
    margin: 1rem 0rem 0 2rem;

}

.earlytext{
    font-size: 2rem;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    color: #eb452b;
}

.bullet{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #d52e3f;
    margin-top: 0.2rem;
    margin-left: 2rem;
}

.bullet1{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #d52e3f;
    margin-top: 0.2rem;
    margin-right: 2rem;
}

.para{
    padding: 1rem 16rem;
}

.para ul li{
    list-style-type: circle;
    padding-top: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    color: rgb(144, 112, 85);
    font-style: italic;
    font-weight: bold;
}

.career{
    position: relative;
    height: auto;
    background-image: url(img/earlyback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;  
    padding-bottom: 0.5rem;
}


.careerhead{
    background-color: #d52e3f;
    line-height: 5rem;
}

.careertext{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    text-transform: capitalize;
    font-style: italic;
    color: #e0ae68;
}

.paragraphcareer{
    position: relative;
    margin: 2rem 4rem 0rem 4rem;
    height: auto;
}

.para1{
    margin-bottom: 2rem;
}

.para3 .img img,
.para1 .img img{
    float: right;
    width:18rem;
    height:15rem;
    margin-left: 2rem;
    border: 2px solid rgb(0, 0, 0);
}


.para2 .img img{
    float: left;
    width:18rem;
    height:15rem;
    border: 2px solid rgb(0, 0, 0);
    margin-right: 2rem;
}
.para3 .texts,
.para1 .texts,
.para2 .texts{
    font-size: 1.4rem;
}


.awardsouterpage{
    background-image: url(img/awards.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
    overflow: hidden;
}

.awardshead{
    background-color: #d52e3f;
    line-height: 5rem;
    padding-top: 0.5rem;
    font-style: italic;
    color: #e0ae68;
}


.awardscontainer{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:1.2rem;
    margin: 2rem;
}

.awardscontainer .awards{
    background-image: url(img/aback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.awardscontainer .awards .image img{
    object-fit: fill;
    width:10rem;
    height:8rem;
    background-color: #000000;
    border-radius: 50%;
}

.awardscontainer .awards .awrdslabel{
    text-align: center;
    font-size: 1.4rem;
    color: #eb452b;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}


@media (max-width:450px){

    html{
        font-size: 55%;
    }
    .text{
        font-size: 3rem;
        text-shadow: 0.1rem 0.1rem 0rem #eb452b, 
              0.3rem 0.3rem 0rem #efa032, 
              0.5rem 0.5rem 0rem #46b59b;
    }
    .para{
        padding-top: 1rem;
        padding-right: 3rem;
    }
}


